@use "colors" as *;
@use "typography" as *;

.modal {
  &-header {
    &__title {
      font-family: $font-montserrat;
      font-weight: bold;
    }
    &__subtitle {
      color: $color-accent;
    }
  }

  &-body {
    &::-webkit-scrollbar {
      width: 8px;
      height: 50px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &::-webkit-scrollbar-button {
      width: 50px;
      height: 50px;
    }

    &__title {
      font-family: $font-montserrat;
      font-weight: bold;
      margin-bottom: 30px;
    }

    &__topics {
      &__category {
        margin-bottom: 10px;
        gap: 6px;

        &__item {
          max-width: 600px;
          font-weight: 400;
          font-family: $font-inter;
          margin-bottom: 7px;
          font-size: 1.1rem;

          &::marker {
            font-weight: 700;
            color: rgb(173, 216, 230);
          }
        }
      }
    }
  }

  &-body__works {
    gap: 10px;
    margin-top: 30px;

    &__container {
      gap: 10px;
    }
  }

  &__works {
    &__item {
      color: $color-light;
      text-decoration: none;
    }

    &__prices {
      margin-top: 20px;
      color: $color-light;
      font-family: $font-montserrat;

      &__original {
        text-decoration: line-through;
        text-decoration-color: $color-alert;
        font-size: 20px;
      }

      &__discounted {
        color: $color-light;
        font-size: 45px;
        position: relative;
        bottom: 15px;
        right: 3px;
      }

      &__cta {
        &__container {
          width: 100%;
        }

        &__button {
          font-weight: 500;
          color: $color-light;
          padding: 10px;
          width: 100%;
          font-size: 1.5rem;
        }
      }
    }
  }
}
