@use "colors" as *;
@use "background-image" as *;

@media (max-width: 375px) {
  .section {
    &__apresentation {
      &__text {
        font-size: 1rem;
      }
    }
  }

  .offer-timer {
    &__text {
      font-size: 0.6rem !important;
    }

    &__timer {
      font-size: 0.7rem !important;
    }

    &__catchphrase {
      &__text {
        font-size: 1.1rem !important;
      }
    }
  }
}

@media (max-width: 399px) {
  .section {
    &__apresentation {
      &__text {
        font-size: 1.1rem;
      }
    }
  }

  .offer-timer {
    &__text {
      font-size: 0.7rem !important;
    }

    &__timer {
      font-size: 0.8rem !important;
    }

    &__catchphrase {
      &__text {
        font-size: 1.2rem !important;
      }
    }
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .section {
    &__apresentation {
      &__text {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .section {
    &__apresentation__container {
      height: calc(var(--vh, 1vh) * 100 - 80px) !important;
    }
  }

  .header {
    &__actions {
      &__navbar {
        display: block;
      }

      &__icons__ebook {
        display: none;
      }
    }
  }

  .offer-timer {
    &__text {
      font-size: 1rem !important;
    }

    &__timer {
      font-size: 1rem !important;
    }

    &__catchphrase {
      &__text {
        font-size: 1.5rem !important;
      }
    }
  }

  .modal__works__prices {
    &__original {
      font-size: 15px !important;
    }

    &__discounted {
      font-size: 35px !important;
    }
  }
}

@media (min-width: 768px) {
  .main {
    height: 100vh !important;
  }

  .section {
    &__cta__button {
      margin-top: 20px;
      width: 80% !important;
    }

    &__apresentation {
      &__text {
        font-size: 2.2rem;
      }
    }
  }

  .header {
    &__actions {
      &__title {
        font-size: 1.5rem;
      }
    }
  }

  .header {
    &__actions {
      &__navbar {
        display: none;
      }

      &__icons__ebook {
        display: block;
      }
    }
  }

  .modal__works__prices__cta__button {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .header {
    &__container {
      border-radius: 0 0 10px 10px;
    }
  }

  .section__actions {
    &__icons {
      transform: scale(1.4);
      color: $color-light;
      background-color: $color-dark;
      border-radius: 50%;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease-in-out;
    }
  }

  .section {
    &__backgound__container {
      display: none;
    }

    &__apresentation {
      &__text {
        text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.599);
      }

      &__container {
        @include image("sandra.webp");
        background-size: cover;
      }
    }
  }
}
