@use "colors" as *;
@use "background-image" as *;

/* xs: Até 599px */
@media screen and (max-width: 599px) {
  .section {
    &__apresentation {
      &__text {
        font-size: 0.9rem; /* Ajuste conforme necessário */
      }
    }
  }
}

/* sm: De 600px a 959px */
@media screen and (min-width: 600px) and (max-width: 959px) {
  .section {
    &__apresentation {
      &__text {
        font-size: 1.2rem; /* Ajuste conforme necessário */
      }
    }
  }
}

/* md: De 960px a 1279px */
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .header {
    &__container {
      margin-bottom: 10px;
      border-radius: 0 0 10px 10px;
    }

    &__divider {
      margin-top: 10px;
    }
  }

  .section {
    @include image("sandra.webp");
    background-size: cover;

    &__backgound__container {
      display: none;
    }

    &__apresentation {
      &__text {
        text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.599);
        font-size: 1.6rem; /* Ajuste conforme necessário */
      }
    }
  }

  .footer {
    &__cta {
      &__actions {
        &__icons {
          color: $color-secondary;
          font-size: 1.6rem;

          &:hover {
            color: $color-semiDark;
          }
        }
      }
      &__container {
        gap: 1.5rem;
      }
    }
  }
}

/* lg: De 1280px a 1919px */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .section {
    &__apresentation__text {
      font-size: 2rem;
      padding-bottom: 50px;
      line-height: 40px;
    }
  }

  .footer {
    &__cta {
      &__actions {
        &__icons {
          font-size: 4rem;
        }
      }
    }
  }
}

/* xl: Acima de 1920px */
@media screen and (min-width: 1920px) {
}
