@use "colors" as *;
@use "background-image" as *;

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .section {
    &__apresentation {
      &__text {
        font-size: 1.3rem;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .section {
    &__apresentation {
      &__text {
        font-size: 2rem;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header {
    &__container {
      border-radius: 0 0 10px 10px;
    }

    &__divider {
      margin-top: 10px;
    }
  }

  .section {
    @include image("sandra.webp");
    background-size: contain;

    &__apresentation {
      &__text {
        text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.599);
      }
    }

    .header {
      &__actions {
        &__title {
          font-size: 1.2rem;
        }
      }
    }
  }

  .footer {
    width: -webkit-fill-available;

    &__cta {
      &__actions {
        &__icons {
          color: $color-secondary;
          font-size: 1.6rem;

          &:hover {
            color: $color-semiDark;
          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .section {
    &__apresentation__text {
      font-size: 2.5rem;
    }
  }

  .footer {
    &__cta {
      &__actions {
        &__icons {
          font-size: 4rem;
        }
      }
    }
  }
}

