@use "colors" as *;

.light__theme {
  &__background {
    background-color: $color-secondary !important;
  }

  &__image {
    background-image: linear-gradient(180deg, $color-secondary, $color-dark) !important;
  }

  &__font {
    color:  $color-dark !important;

    &--not {
      color: $color-secondary !important;
    }
  }
}
