@use 'colors' as *;

* {
  font-display: swap;
}

body {
  width: auto;
  height: auto;
	line-height: 1;
  background-image: linear-gradient(180deg, #506786, $color-semiDark);
  overflow-y: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}