@use "colors" as *;

body.light-theme {
  .background-theme {
    background-color: $color-secondary !important;
  }

  .image-theme {
    background-image: linear-gradient(180deg, $color-secondary, $color-dark) !important;
  }

  .font-theme {
    color:  $color-dark !important;

    &--not {
      color: $color-secondary !important;
    }
  }
}


body.dark-theme {
  .background-theme {
    background-color: $color-semiDark !important;
  }

  .image-theme {
    background-image: linear-gradient(180deg, #506786, $color-semiDark) !important;
  }

  .font-theme {
    color: $color-light !important;

    &--not {
      color: $color-secondary !important;
    }
  }
}

