@use "colors" as *;

body.light-theme {
  .background-theme {
    background-color: $color-secondary;
  }

  .image-theme {
    background-image: linear-gradient(180deg, $color-secondary, $color-dark);
  }

  .font-theme {
    color: $color-dark;

    &--light__active {
      color: $color-accent;
    }
  }
}

body.dark-theme {
  .background-theme {
    background-color: $color-semiDark;
  }

  .image-theme {
    background-image: linear-gradient(180deg, #506786, $color-semiDark);
  }

  .font-theme {
    color: $color-light;

    &--dark__active {
      color: $color-secondary;
    }
  }
}
