@use "colors" as *;

body.dark-theme {
  .background-theme {
    background-image: repeating-linear-gradient(45deg, rgba(255,255,255, 0.050980392156862744) 0px, rgba(255,255,255, 0.050980392156862744) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.050980392156862744) 11px, rgba(255,255,255, 0.050980392156862744) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, rgba(255,255,255, 0.050980392156862744) 0px, rgba(255,255,255, 0.050980392156862744) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.050980392156862744) 11px, rgba(255,255,255, 0.050980392156862744) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, rgba(255,255,255, 0.050980392156862744) 0px, rgba(255,255,255, 0.050980392156862744) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.050980392156862744) 11px, rgba(255,255,255, 0.050980392156862744) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, rgba(255,255,255, 0.050980392156862744) 0px, rgba(255,255,255, 0.050980392156862744) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.050980392156862744) 11px, rgba(255,255,255, 0.050980392156862744) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(13,13,20),rgb(13,13,20));
  }

  .image-theme {
    background-color: $color-semiDark;
  }

  .font-theme {
    color: $color-light;

    &--dark__active {
      color: $color-secondary;
    }
  }
}
