$font-montserrat-regular: 'montserrat-regular', sans-serif;
$font-montserrat-bold: 'montserrat-bold', sans-serif;
$font-inter-regular: 'inter-regular', sans-serif;
$font-inter-bold: 'inter-bold', sans-serif;

