<app-subscription-modal role="dialog" aria-label="Subscription Modal"></app-subscription-modal>

<div class="main d-flex justify-content-center align-items-center image-theme" role="main">
  <section class="container section__container row" role="region" aria-label="Main Content">
    <div class="main col">
      <section class="container section__container" role="region">
        <div class="section d-flex flex-column">
          <app-header class="header" role="banner" aria-label="Header"></app-header>

          <div class="section__apresentation__container d-flex flex-column justify-content-center align-items-center"
            role="region" aria-label="Presentation Section">
            <div
              class="section__apresentation d-flex flex-column justify-content-center align-items-center animate__animated animate__fadeInDown "
              role="presentation" aria-label="Presentation Area">
              <div class="section__apresentation__text__container flex flex-row">
                <p class="section__apresentation__text__heart" role="text">
                  <i class="bi bi-heart-fill heart-icon"></i> {{ (homePresentation | async)?.greetingText }}
                </p>
                <p class="section__apresentation__text" role="text">
                  {{ (homePresentation | async)?.apresentationText }}
                </p>
              </div>
              <div class="section__actions__container d-flex justify-content-between align-items-center"
                role="navigation" aria-label="Social Media Actions">
                <div class="section__actions d-flex" role="navigation" aria-label="Social Media Links">
                  <i class="bi bi-instagram section__actions__icons" (click)="toBrowse('instagram')" role="link"
                    tabindex="0" aria-label="Instagram Link"></i>
                  <i class="bi bi-facebook section__actions__icons" (click)="toBrowse('facebook')" role="link"
                    tabindex="0" aria-label="Facebook Link"></i>
                  <i class="bi bi-linkedin section__actions__icons" (click)="toBrowse('linkedin')" role="link"
                    tabindex="0" aria-label="LinkedIn Link"></i>
                </div>
                <div class="section__w7__container" role="link" tabindex="0" aria-label="GitHub Link"
                  (click)="toBrowse('github')">
                  <div class="section__w7__logo"></div>
                </div>
              </div>

              <div class="section__sandra-kotovicz">
                <i class="bi bi-file-medical section__sandra-kotovicz__icon" role="img"
                  aria-label="Medico Icon"></i>
                <h3 class="section__sandra-kotovicz__title">{{ (homePresentation | async)?.author + " " + (homePresentation | async)?.crbm }}</h3>
                <p class="section__sandra-kotovicz__description">
                  {{ (homePresentation | async)?.qualifications }}
                </p>
              </div>

              <!-- Scroll indicator for mobile -->
              <div class="scroll-indicator mt-3 d-md-none">
                <i class="bi bi-arrow-down scroll-icon" (click)="scrollTo('ebookListScroll')"></i>
              </div>

            </div>
          </div>

          <app-ebook-list role="complementary" aria-label="Ebook List"></app-ebook-list>


        </div>
      </section>
    </div>
  </section>
</div>

