<app-carousel-ebooks></app-carousel-ebooks>
<div class="main d-flex justify-content-center align-items-center image-theme" role="main">
  <section class="container section__container background-theme row" role="region" aria-label="Conteúdo Principal">
    <div class="section__backgound__container col" role="img" aria-label="Imagem Ilustrativa">
      <div class="section__backgound__image"></div>
    </div>

    <div class="main image-theme col">
      <section class="container section__container background-theme" role="region" aria-label="Conteúdo Principal">
        <div class="section d-flex flex-column">
          <app-header class="header"></app-header>

          <div class="section__apresentation__container d-flex flex-column  justify-content-center align-items-center"
            *ngIf="consentAcquired">
            <div
              class="section__apresentation d-flex flex-column justify-content-sm-center justify-content-between align-items-center animate__animated animate__fadeInDown ">
              <p class="section__apresentation__text">
                {{ apresentationText }}
              </p>

              <button *ngIf="modalCarouselEbooksIsClose" type="button"
                class="btn btn-danger btn-lg p-2 section__cta__button" data-bs-toggle="modal"
                data-bs-target="#carouselEbooksInner">CLIQUE AQUI E SAIBA MAIS</button>


              <div class="section__actions__container d-flex    justify-content-between align-items-center">
                <div class="section__actions d-flex" role="navigation" aria-label="Redes Sociais">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-instagram section__actions__icons" (click)="toBrowse('instagram')">
                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-facebook section__actions__icons" (click)="toBrowse('facebook')">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-linkedin section__actions__icons" (click)="toBrowse('linkedin')">
                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                    <rect x="2" y="9" width="4" height="12"></rect>
                    <circle cx="4" cy="4" r="2"></circle>
                  </svg>
                </div>
                <div class="section__w7__container">
                  <div class="section__w7__logo" (click)="toBrowse('github')" role="link" tabindex="0"
                    aria-label="GitHub">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>