@use "colors" as *;
@use "typography" as *;

:host {
  display: block;
}

.section {
  width: 50%;
  flex-direction: column;

  &__container {
    background-color: $color-semiDark;
  }

  &__backgound__container {
    width: 50%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  &__backgound__image {
    background: $color-semiDark;
    background-image: url("../../assets/sandra.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__apresentation {
    height: 80%;

    &__text {
      margin-top: 20%;
      padding: 0 15px;
      text-align: center;
      font-family: $font-inter;
      font-size: 2.5rem;
      color: $color-light;
    }
  }

  &__cta {
    &__container {
      flex-direction: column;
      margin-top: 20%;
    }

    &__button {
      width: 350px;
    }

    &__actions {
      &__icons {
        &:hover {
          cursor: pointer;
          color: $color-secondary;
        }
      }
    }
  }
}
