@use "colors" as *;
@use "typography" as *;
@use "tailwind" as *;

:host {
  display: block;
}

.main {
  overflow: hidden;
}

.section {
  &__container {
    background-color: $color-semiDark;
  }

  &__backgound__container {
    position: relative;
    overflow: hidden;
  }

  &__backgound__image {
    background: $color-semiDark;
    background-image: url("../../assets/sandra.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__apresentation {
    &__container {
      height: 100%;
    }

    &__text {
      padding: 0 15px;
      text-align: center;
      font-family: $font-inter;
      font-size: 1.4rem;
      color: $color-light;
    }
  }

  &__cta {
    &__button {
      width: 350px;
    }

    &__actions {
      &__icons {
        font-size: 2rem;

        &:hover {
          cursor: pointer;
          color: $color-secondary;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section {
    background-image: url("../../assets/sandra.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

    &__backgound__container {
      display: none;
    }

    &__cta {
      &__actions {
        &__icons {
          color: $color-secondary;
          font-size: 1.6rem;

          &:hover {
            color: $color-semiDark;
          }
        }
      }

      &__container {
        gap: 1.5rem;
      }

      &__button {
        margin-bottom: 10px;
        width: 320px;
      }
    }

    &__apresentation {
      &__container {
        height: 80%;
      }

      &__text {
        text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.599);
      }
    }
  }

  .footer{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section {
    &__apresentation {
      &__text {
        padding: 0 85px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .section {
    &__cta {
      &__button {
        width: 350px;
      }

      &____actions__icons {
        font-size: 25px;
      }
    }

    &__apresentation__text {
      padding-bottom: 50px;
      font-size: 2.5rem;
    }
  }
}

@media screen and (min-width: 414px) and (max-width: 736px) {
  .section__apresentation__container {
    height: 85%;
  }

  .section__apresentation__text {
    font-size: 1.3rem;
  }

  .section__cta__button {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
  .section__apresentation {
    &__text {
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .section {
    &__apresentation {
      &__text {
        font-size: 0.8rem;
      }
    }

    &__cta {
      &__button {
        width: 280px;
        margin-bottom: 35px;
      }
    }
  }
}
