<main class="main image-theme">
  <section class="container section__container background-theme">
    <div class="section__backgound__container">
      <div class="section__backgound__image"></div>
    </div>

    <div class="section">
      <div class="">
        <header>
          <app-header></app-header>
        </header>
        <div class="section__apresentation__container">
          <div class="section__apresentation">
            <p class="section__apresentation__text">
              {{ apresentationText }}
            </p>
          </div>
        </div>
      </div>

      <footer class="footer">
        <app-footer></app-footer>
      </footer>
    </div>
  </section>
</main>