@use "colors" as *;
@use "typography" as *;
@use "background-image" as *;

:host {
  display: block;
}

.scroll-indicator {
  display: flex;
  justify-content: center;
  align-items: center;

  .scroll-icon {
    font-size: 2rem;
    color: $color-light;
    animation: bounce 2s infinite;

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-10px);
      }
      60% {
        transform: translateY(-5px);
      }
    }
  }
}

.section {
  &__apresentation {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
      padding: 15px;
    }

    &__text {
      text-align: center;
      color: $color-light;
      padding-top: 10px;
    }
  }

  &__actions {
    padding: 20px;
    &__icons {
      font-size: 1.3rem;
      &:hover {
        cursor: pointer;
        color: $color-accent;
      }
    }
  }
}

@media (max-width: 768px) {
  .main {
    height: 100vh;
    overflow: hidden;
  }

  .section__apresentation {
    min-height: 100vh;
  }

  .scroll-indicator {
    display: flex;
  }
}
