@use "colors" as *;
@use "typography" as *;

.page {
  background-image: repeating-linear-gradient(45deg, rgba(255,255,255, 0.050980392156862744) 0px, rgba(255,255,255, 0.050980392156862744) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.050980392156862744) 11px, rgba(255,255,255, 0.050980392156862744) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, rgba(255,255,255, 0.050980392156862744) 0px, rgba(255,255,255, 0.050980392156862744) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.050980392156862744) 11px, rgba(255,255,255, 0.050980392156862744) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, rgba(255,255,255, 0.050980392156862744) 0px, rgba(255,255,255, 0.050980392156862744) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.050980392156862744) 11px, rgba(255,255,255, 0.050980392156862744) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, rgba(255,255,255, 0.050980392156862744) 0px, rgba(255,255,255, 0.050980392156862744) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.050980392156862744) 11px, rgba(255,255,255, 0.050980392156862744) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(13,13,20),rgb(13,13,20));

  &-content {
    padding: 10px;
  }

  &-header {
    &__title {
      font-family: $font-montserrat;
      font-weight: bold;
      text-align: center;
      font-size: 1.3rem;
    }
    &__subtitle {
      color: $color-accent;
      text-align: center;
    }
  }

  &-body {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 80px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &__title {
      font-family: $font-montserrat;
      font-weight: bold;
      margin: 15px 0 15px 0;
    }

    &__topics {
      &__category {
        margin-bottom: 10px;
        gap: 6px;
        display: flex;
        align-items: center;

        h4 {
          font-weight: 600;
        }

        &__item {
          max-width: 600px;
          font-weight: 400;
          margin-bottom: 7px;
          font-size: 1.1rem;
        }
      }
    }

    &__works {
      &__container {
        gap: 15px;
      }
    }
  }

  &__works {
    &__item {
      color: $color-light;
      text-decoration: none;
    }

    &__prices {
      margin-top: 10px;
      font-family: $font-montserrat;

      &__original {
        text-decoration: line-through;
        font-size: 16px;
        color: $color-light;
      }

      &__discounted {
        font-size: 45px;
        color: $color-light;
      }

      &__installments {
        &__count {
          font-size: 16px;
        }

        &__value {
          font-size: 30px;
        }
      }

      &__cta__button {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  .bi {
    margin-right: 8px;
  }

  .page-footer {
    padding: 10px;
  }
}