<div class="w-full flex-col p-5 header__container">
  <div class="flex justify-between items-center header__actions">
    <div class="flex gap-3 items-center header__actions__ebooks">
      <tui-svg
        src="tuiIconBookOpenLarge"
        class="text-cyan-50 header__actions__icons"
      ></tui-svg>
      <h1 class="header__actions__title">E-books - BiomedSandra</h1>
    </div>

    <div class="flex gap-3 items-center">
      <tui-svg
        src="tuiIconMoonLarge"
        [ngClass]="{'light__theme__font': isLightTheme }"
        class="text-cyan-50 header__actions__icons header__actions__icons__theme"
        (click)="changeTheme('dark-theme')"
      ></tui-svg>
      <tui-svg
        src="tuiIconSunLarge"
        [ngClass]="{'light__theme__font': isLightTheme }"
        class="text-cyan-50 header__actions__icons header__actions__icons__theme"
        (click)="changeTheme('light-theme')"
      ></tui-svg>
    </div>
  </div>
  <div class="header__divider"></div>
</div>
