@use "colors" as *;
@use "typography" as *;
@use "moveInbutton" as *;

:host {
  display: block;
}

.header {
  &__actions {
    padding-top: 10px;
    gap: 10px;

    &__title {
      font-family: $font-inter;
      font-weight: bold;
      color: $color-light;
      font-size: 1rem;
    }

    &__icons {
      color: $color-light;

      &:hover {
        color: $color-accent;
        cursor: pointer;
      }

      &__animation {
        @include moveInButton();
      }
    }
  }

  &__divider {
    height: 1px;
    margin-top: 10px;
    background-color: $color-light;
  }
}
