@use "colors" as *;
@use 'typography' as *;
@use "background-image" as *;

:host {
  display: block;
}

.footer {
  width: 100%;
  height: auto;


  &__w7 {
    &__logo {
      @include image("w7.webp");
      padding-right: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 3.5rem;
      height: 3.5rem;
      margin-right: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__actions {
    padding: 20px;

    &__icons {
      color: $color-light;
      font-size: 1.3rem;
      margin-right: 5px;

      &:hover {
        cursor: pointer;
        color: $color-accent;
      }
    }
  }
}
