<div class="footer__container w-full flex-col">
  <div class="w-full flex justify-center items-center footer__cta__button__container">
    <button tuiButton type="button" class="footer__cta__button">
      SAIBA MAIS
    </button>
  </div>

  <div class="flex justify-between items-center footer__cta__container p-5">
    <div class="footer__cta__actions flex gap-5 justify-center items-center">
      <tui-svg src="tuiIconInstagramLarge" class="text-cyan-50 footer__cta__actions__icons"></tui-svg>
      <tui-svg src="tuiIconFacebookLarge" class="text-cyan-50 footer__cta__actions__icons"></tui-svg>
    </div>

    <div class="footer__pineTech__container flex justify-center items-center">
      <div class="footer__pineTech__logo"></div>
    </div>
  </div>
</div>

