@use "colors" as *;
@use 'typography' as *;
@use 'tailwind' as *;

:host {
  display: block;
}

.footer {
  &__pineTech {
    &__logo {
      background-image: url("../../assets/logo-pineTech.webp");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 3.5rem;
      height: 3.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__cta {
    &__container {
      background: $color-semiDark;
    }

    &__button {
      width: 80%;
      margin-bottom: 20%;
    }

    &__actions {
      &__icons {
        font-size: 1.3rem;

        &:hover {
          cursor: pointer;
          color: $color-secondary;
        }
      }
    }
  }
}
