<div class="footer__container">
  <div class="footer__actions__container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="footer__actions" fxLayout="row" fxLayoutGap="8px">
      <tui-svg src="tuiIconInstagramLarge" class="text-cyan-50 footer__actions__icons"
        (click)="toBrowse('instagram')"></tui-svg>
      <tui-svg src="tuiIconFacebookLarge" class="text-cyan-50 footer__actions__icons"
        (click)="toBrowse('facebook')"></tui-svg>
      <tui-svg src="tuiIconLinkedinLarge" class="text-cyan-50 footer__actions__icons"
        (click)="toBrowse('linkedin')"></tui-svg>
    </div>

    <div class="footer__w7__container">
      <div class="footer__w7__logo" (click)="toBrowse('github')"></div>
    </div>
  </div>
</div>