<footer class="footer" role="contentinfo">
  <div class="footer__cta__button__container" fxLayout="row" fxLayoutAlign="center center">
    <button tuiButton type="button" class="footer__cta__button" [appearance]="'accent'">
      SAIBA MAIS
    </button>
  </div>

  <div class="footer__container background-theme">
    <div class="footer__actions__container" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="footer__actions" fxLayout="row" fxLayoutGap="8px" role="navigation" aria-label="Redes Sociais">
        <tui-svg src="tuiIconInstagramLarge" class="text-cyan-50 footer__actions__icons" (click)="toBrowse('instagram')"
          aria-label="Instagram"></tui-svg>
        <tui-svg src="tuiIconFacebookLarge" class="text-cyan-50 footer__actions__icons" (click)="toBrowse('facebook')"
          aria-label="Facebook"></tui-svg>
        <tui-svg src="tuiIconLinkedinLarge" class="text-cyan-50 footer__actions__icons" (click)="toBrowse('linkedin')"
          aria-label="LinkedIn"></tui-svg>
      </div>

      <div class="footer__w7__container">
        <div class="footer__w7__logo" (click)="toBrowse('github')" role="link" tabindex="0" aria-label="GitHub"></div>
      </div>
    </div>
  </div>
</footer>