<div class="modal fade" id="carouselEbooksInner" tabindex="-1" aria-labelledby="carouselEbooksLabel" aria-hidden="true"
  #carouselEbooksInner data-bs-ride="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-book-open header__actions__icons">
          <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
          <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
        </svg>
        <h1 class="modal-title fs-5" id="carouselEbooksLabel">{{ ebookData && ebookData.length > 0 ?
          ebookData[currentEbookIndex].title : '' }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <div id="carouselEbooks" class="carousel" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" *ngFor="let ebook of ebookData; let i = index" data-bs-target="#carouselEbooks"
              [attr.data-bs-slide-to]="i" [class.active]="i === currentEbookIndex"
              (click)="updateCurrentEbookIndexOnSlide(i)" aria-current="true">
            </button>
          </div>
          <div class="carousel-inner">
            <div *ngFor="let ebook of ebookData; let i = index" class="carousel-item"
              [class.active]="i === currentEbookIndex">
              <img src="assets/{{ ebook.cover }}.webp" class="d-block w-100" alt="{{ ebook.title }}">
            </div>
          </div>
          <button class="carousel-control-prev animate__animated animate__backInLeft" type="button" data-bs-target="#carouselEbooks" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next animate__animated animate__backInRight" type="button" data-bs-target="#carouselEbooks" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer w-100 d-flex justify-content-center align-items-center">
        <p class="carousel-inner__description">{{ ebookData && ebookData.length > 0 ?
          ebookData[currentEbookIndex].description : '' }}</p>
        <button type="button" class="btn btn-primary w-100 p-2"
          (click)="openEbook(ebookData![currentEbookIndex].id)">VER MAIS</button>
      </div>
    </div>
  </div>
</div>